@mixin standard-div {
  padding: 10px;
  margin: 10px;
  width: 500px;
}

@mixin standard-button {
  background-color: #71c174;
  border: none;
  color: white;
  padding: 10px 32px;
  margin: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
}

@mixin standard-li {
  list-style: none;
  color: #333;
  text-align: left;
  padding: 5px 10px;
  margin: 3px 0;
  cursor: pointer;
}
