*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
      grid-template-areas: "h h h h h h h h" ". . . r r . . .";
}

body header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: h;
  background-color: #71c174;
  color: #fff;
  margin: 0 0 30px 0;
}

body header h1 {
  margin: 20px;
}

body div#root {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: r;
}

body div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body div.grocery-list {
  padding: 10px;
  margin: 10px;
  width: 500px;
}

body div.grocery-list h1 {
  margin: 0 0 20px 0;
  color: #333;
}

body div.grocery-list input[type="text"] {
  width: 250px;
  padding: 10px 10px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body div.grocery-list button {
  background-color: #71c174;
  border: none;
  color: white;
  padding: 10px 32px;
  margin: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
}

body div.grocery-list button:hover {
  opacity: 0.8;
}

body div.grocery-list li {
  background-color: #eeb46c;
  list-style: none;
  color: #333;
  text-align: left;
  padding: 5px 10px;
  margin: 3px 0;
  cursor: pointer;
}

body div.grocery-list li:nth-child(odd) {
  background-color: #eaa148;
}

body div.grocery-list li:hover {
  opacity: 0.9;
}

body div.grocery-list li span {
  pointer-events: none;
}

body div.shopping-cart {
  padding: 10px;
  margin: 10px;
  width: 500px;
}

body div.shopping-cart h1 {
  margin: 0 0 20px 0;
  color: #333;
}

body div.shopping-cart button {
  background-color: #71c174;
  border: none;
  color: white;
  padding: 10px 32px;
  margin: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
}

body div.shopping-cart button:hover {
  opacity: 0.8;
}

body div.shopping-cart li {
  background-color: #f6e68e;
  list-style: none;
  color: #333;
  text-align: left;
  padding: 5px 10px;
  margin: 3px 0;
  cursor: pointer;
  cursor: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body div.shopping-cart li:nth-child(odd) {
  background-color: #f1da55;
}

body div.shopping-cart li span {
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */